body{
    height: 2000px;
}
#header{
    height: 76px;
    padding-bottom: 10px;
}
.wrapper{
    width: 1100px;
    height: 76px;
    margin-right: 401px;
    margin-left: 401px;
    float: left;
}
.top_box_inner{
    width: 1100px;
    height: 11px;
    margin: 0px 401px;
}
.logo{
    height: 55px;
    width: 354px;
    float: left;
    margin-top: 10px;
}
.logo:hover{
    cursor: pointer;
}
.menu_box{
    text-align: left;
    width: 450px;
    height: 51px;
    padding-top: 15px;
    float: right;
}
#main-header li{
    font-weight: bolder;
    float: left;
    height: 51px;
}
#main-header a{
    height: 36px;
    width: 90px;
    color: #434343;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    font-size: 16px;
}
#main-header a:hover{
    cursor: pointer;
    color: #e06666;
    text-decoration: none;
    font-weight: bold;
}
#current{
    height: 453px;
    background: url("../img/banner01_h5vf.jpg") no-repeat;
    background-size: 100%;

}
.latest_news_box{
    width: 640px;
    height: 135px;
}
.more{
    width: 640px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.more h3{
    float: left;
}
.more span{
    float: right;
    width: 100px;
    height: 30px;
}
.more a{
    color: #000;
}
.more a:hover{
    cursor: pointer;
    color: #ffffff;
    background: #e06666;
    border: 1px solid #e06666;
    border-radius: 5px;
}
.latest_news_box{
    float: left;
}
.latest_news{
    display: block;
    float: left;
    width: 280px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-left: 10px;
    padding-left: 15px;
    background: url(../img/home-bg1.png) no-repeat left center;
}
.latest_news a{
    color: #333;
    text-decoration: none;
    font-size: 13px;
}
.notice{
    float: right;
    width: 400px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notice h3{
    float: left;
}
.notice span{
    float: right;
    width: 100px;
    height: 30px;
}
.notice a{
    color: #000;
}
.notice a:hover{
    cursor: pointer;
    color: #ffffff;
    background: #e06666;
    border: 1px solid #e06666;
    border-radius: 5px;
}